button{padding:8px;}
.button-success,.button-error,.button-warning,.button-secondary{
color: white;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.button-success{background: rgb(28, 184, 65);}
.button-error{background: rgb(202, 60, 60);}
.button-warning{background: rgb(223, 117, 20);}
.button-secondary{background: rgb(66, 184, 221);}
// Menu Stuff
.mcman-wrapper{background-color:#ffd390;margin-bottom:1em;-webkit-font-smoothing:antialiased;
height:2.1em;overflow:hidden;-webkit-transition:height 0.5s;-moz-transition:height 0.5s;
-ms-transition:height 0.5s;transition:height 0.5s;}
.mcman-wrapper.open{height:14em;}
.mcman-menu-3{text-align:right;}
.mcman-toggle{width:34px;height:34px;display:block;position:absolute;top:0;right:0;display:none;}
.mcman-toggle .bar{background-color:#777;display:block;width:20px;height:2px;border-radius:100px;
position:absolute;top:18px;right:7px;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;
-ms-transition:all 0.5s;transition:all 0.5s;}
.mcman-toggle .bar:first-child{-webkit-transform:translateY(-6px);-moz-transform:translateY(-6px);
-ms-transform:translateY(-6px);transform:translateY(-6px);}
.mcman-toggle.x .bar{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);transform:rotate(45deg);}
.mcman-toggle.x .bar:first-child{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
@media (max-width:47.999em){.custom-menu-3{text-align:left;}.custom-toggle{display:block;}
